<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>计算</title>
</head>
<body>
<div id="app">
    <!--{{name}}-->
    <span v-text="name"></span>
    <input type="text" v-model="num1"/> +
    <input type="text" v-model="num2"/> =
    <!--{{Number.parseInt(num1)+Number.parseInt(num2)}}-->
    <span v-text="Number.parseInt(num1)+Number.parseInt(num2)"></span>
    <input type="button" value="计算">
</div>
</body>
<script src="vue.min.js"></script>
<script>
    var VM = new Vue({
        el: '#app',
        data: {
            name: '黑马程序员',
            num1: 1,
            num2: 1,
        }
    });
</script>
</html>